$color-primary: rgb(240,88,7);
$color-secondary: rgb(53,46,42);
$color-light: #f4f6ff;
$color-smooth: #f9f9f9;
$color-dark-1: #393e46;
$color-dark-2: #1b1b2f;
$color-dark-3: #303960;
$color-blue-1: #1b6ca8;
$color-blue-2: rgb(58, 134, 255);
$colopr-purple: rgb(74,82,182);
$color-red: #9a1f40;
$color-grey: #dcd6f7;
$color-green: #baf1a1;
