<nav class="nav">
  <div class="nav__logo-box">
    <img src="./assets/logo_transparent.png" alt="logo" class="nav__logo-img">
  </div>
  <ul class="nav__list">
    <li class="nav__item">
      <a href="#" class="nav__link">Home</a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link">Products</a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link">Contact</a>
    </li>
  </ul>
  <ul class="nav__list">
    <li class="nav__item">
      <i class="fa fa-search"></i>
    </li>
    <li class="nav__item">
      <i class="fa fa-heart-o"></i>
    </li>
    <li class="nav__item">
      <i class="fa fa-shopping-cart"></i>
    </li>
  </ul>
</nav>
