@import "../../../sass/var";

.nav {
  background-color: $color-secondary;
  padding: 5px 20px;
  width: 100%;
  height: 7.5rem;
  display: grid;
  grid-template-columns: 100px 1fr 25%;
  align-items: center;
  column-gap: 25px;
  &__logo-img {
    width: 100%;
    height: auto;
    transform: scale(1.2);
  }
  &__list {
    display: flex;
    justify-content: space-around;
  }
  &__item {
    text-transform: capitalize;
    font-weight: 500;
    color: rgba($color-light, .7);
  }
}
