<div class="card">
  <button class="card__wishlist">
    <i class="fa fa-heart-o"></i>
  </button>
  <a href="#" class="card__img">
    <img src={{ product.product }} alt={{ product.category }}>
  </a>
  <div class="card__body">
    <p class="card__category">category</p>
    <h3 class="card__title">Lorem ipsum dolor sit amet.</h3>
  </div>
  <div class="card__footer">
    <div class="card__footer-row">
      <div class="card__price"><span>198.00$</span></div>
      <div class="card__rating">
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
        <i class="fa fa-star"></i>
      </div>
    </div>
    <div class="card__btns">
      <a href="#" class="card__add-cart">
        <i class="fa fa-shopping-cart"></i>
      </a>
      <a href="#" class="card__view">
        <i class="fa fa-eye"></i>
      </a>
    </div>
  </div>
</div>
