@import "../../sass/var";

.products {
  padding: 4rem 3rem;
  &__filter {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    h4 {
      margin-right: 1rem;
      font-weight: 400;

    }
    input {

    }
  }

  &__container {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    justify-content: center;
    row-gap: 1.2rem;
    column-gap: 1.2rem;
  }
}
.card {
  width: 16rem;
  min-width: 0;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0, .05);
  border-radius: .4375rem;
  transition: all .15s ease-in-out;

  &__wishlist {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: .75rem;
    right: .75rem;
    z-index: 5;
    cursor: pointer;
    transition: color 0.25s ease-in-out,background-color 0.25s ease-in-out,border-color 0.25s ease-in-out,box-shadow 0.2s ease-in-out;
    border: 0;
    background-color: #f3f5f9;
    color: $color-dark-3;
    text-align: center;
    border-radius: 50%;

    &:hover i {
      color: $color-red;
    }
  }

  &__img{
    overflow: hidden;
    display: block;
    border-top-left-radius: calc(.4275rem - 1px);
    border-top-right-radius: calc(.4275rem - 1px);;
    flex-shrink: 0;
    height: 12rem;
    img {
      width: 100%;
      height: 100%;
      vertical-align: middle;

    }
  }

  &__body {
    position: relative;
    padding: 1.25rem ;
  }
  &__category {
    font-size: .75rem;
    color: #7d879c;
    margin-bottom: .5rem;
  }
  &__title {
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.2;
    color: $color-dark-3;
  }

  &__footer {
    padding: 1.25rem;


  }
  &__footer-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }
  &__price {

    span {
      color: $color-primary;

    }
  }
  &__rating {
    display: inline-block;
    white-space: nowrap;
    line-height: 1;
    vertical-align: middle;

    i{
      color: #fea569;
      margin-right: .1875rem;
      font-size: .75rem;

    }
  }
  &__btns {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__add-cart {
    margin-right: 1rem;
    font-size: 1.25rem;
    display: inline-block;
    color: $color-primary;
    i{

    }
  }
  &__view {
    color: #9e9fb4;
    font-size: 1.25rem;
    display: inline-block;

    i {

    }
  }

}
