@import "../../../sass/var";

.category {
  padding: 20px 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  column-gap: 1rem;
  position: relative;
  z-index: 5;
  background-color: #fff;
  width: 75%;
  border-radius: .4375rem;
  background-clip: border-box;
  margin: 0 auto;
  margin-top: -7rem;
  box-shadow: 0 0.3rem 1.525rem -0.375rem rgba(0,0,0,0.1);

  &__item {
    margin-bottom: 1.2rem;
    border-radius: .3125rem;
    text-align: center;
    &:hover img{
      transform: scale(1.05);
    }
    a {
      display: block;
      background-color: transparent;
      margin-bottom: 1rem;
    }
    img {
      transition: transform .25s ease-in-out;
      margin: 0 auto;
      max-width: 100%;
      height: 8rem;
      display: block;
      border-radius: .3125rem;
    }
    h3 {
      margin-top: 2rem;
      font-size: 1rem;
      color: $color-dark-1;
      font-weight: 500 !important;
      text-transform: capitalize;
    }
  }
}
