<header class="header">
  <div class="header__col">
    <div class="header__text">
      <h1 class="header__heading">your product is just <span>one click</span> away</h1>
      <p class="header__paragraph"><span>agora</span> is a modern maketplace that filters all products to find the <span>best</span> with the <span>lowest</span> price</p>
      <a href="#" class="header__link">
        shop now <i class="fa fa-chevron-right"></i>
      </a>
    </div>
  </div>

  <div class="header__col">
    <img src="./assets/shopping-list.png" alt="shopping" class="header__illustration">
  </div>
</header>
