<header class="header">
  <nav class="nav">
    <div class="nav__logo-box">
      <img src="./assets/logo_transparent.png" alt="logo" class="nav__logo-img">
    </div>
    <ul class="nav__list">
      <li class="nav__item">
        <a href="#" class="nav__link">Home</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">Products</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">Contact</a>
      </li>
    </ul>
    <ul class="nav__list">
      <li class="nav__item">
        <i class="fa fa-search"></i>
      </li>
      <li class="nav__item">
        <i class="fa fa-heart-o"></i>
      </li>
      <li class="nav__item">
        <i class="fa fa-shopping-cart"></i>
      </li>
    </ul>
  </nav>

  <div class="header__content">
    <div class="header__col">
      <div class="header__text">
        <h1 class="header__heading">your machine is just <span>one click</span> away</h1>
        <p class="header__paragraph"><span>AGORA</span> is a modern maketplace that filters all computer products to find the <span>best</span> with the <span>lowest</span> price</p>
        <a href="#" class="header__link">
          shop now <i class="fa fa-chevron-right"></i>
        </a>
      </div>
    </div>

    <div class="header__col">
      <img src="./assets/shopping-list.png" alt="shopping" class="header__illustration">
    </div>

  </div>
</header>
